<p-dialog [(visible)]="visible" [modal]="true" [style]="{width: '450px'}" [header]="dialogTitle" [draggable]="false"
  [resizable]="false" (onHide)="hideDialog()">

  <form [formGroup]="courseForm" (ngSubmit)="saveCourse()">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" formControlName="name" class="w-full" />
      @if (courseForm.controls['name'].invalid && courseForm.controls['name'].touched) {
      <small class="p-error">Name is required.</small>
      }
    </div>
    <div class="field">
      <label for="startDate">Start Date</label>
      <p-calendar formControlName="startDate" [showIcon]="true" inputId="startDate" dateFormat="dd/mm/yy"
        class="w-full"></p-calendar>
      @if (courseForm.controls['startDate'].invalid && courseForm.controls['startDate'].touched) {
      <small class="p-error">Start date is required.</small>
      }
    </div>

    <div class="field">
      <label for="endDate">End Date</label>
      <p-calendar formControlName="endDate" [showIcon]="true" inputId="endDate" dateFormat="dd/mm/yy"
        class="w-full"></p-calendar>
      @if (courseForm.controls['endDate'].invalid && courseForm.controls['endDate'].touched) {
      <small class="p-error">End date is required.</small>
      }
    </div>

    <div class="flex justify-content-end">
      <button type="button" pButton icon="pi pi-times" label="Cancel" class="p-button-text"
        (click)="hideDialog()"></button>
      <button type="submit" pButton icon="pi pi-check" label="Save" [disabled]="courseForm.invalid"></button>
    </div>
  </form>
</p-dialog>